/*this will be applied to the about and index pages*/

h1{
    font-family: fantasy;

}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li{
    padding-bottom: 10px;
}
.custom1{
    background-color: azure;
}

.intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paddingSpace{
    padding-bottom: 100px;
}